<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="EST.day10.repository.MemberMapper">

    <!-- 회원 저장 -->
    <insert id="save" parameterType="Member" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO member(name)
        VALUES (#{name})
    </insert>

    <!-- 전체 회원 조회 -->
    <select id="findAll" resultType="Member">
        SELECT id, name
        FROM member
    </select>

    <!-- id로 회원 조회 -->
    <select id="findById" parameterType="long" resultType="Member">
        SELECT id, name
        FROM member
        WHERE id = #{id}
    </select>

    <!-- name으로 회원 조회 -->
    <select id="findByName" parameterType="string" resultType="Member">
        SELECT id, name
        FROM member
        WHERE name = #{name}
    </select>

</mapper>
